github "aws/aws-sdk-ios" ~> 2.8.0
github "google/promises" ~> 1.2.4
github "leoneparise/GoogleMaps-Carthage" ~> 2.7.0
github "justeat/JustLog" ~> 2.5.0
github "Moya/Moya" ~> 12.0.0

binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"